[Desktop Entry]
Name=Desfonema Sequencer
GenericName=Desfonema Sequencer
Comment=Desfonema Sequencer
Exec=dseq.py
Icon=dseq
Terminal=false
Type=Application
Categories=Audio;
